---
import Layout from "../layouts/Layout.astro";
const builds = await Astro.glob("../builds/*.md");
---

<Layout>
  <h1
    class="text-4xl text-center my-0 underline decoration-third decoration-4 md:my-5"
  >
    Builds
  </h1>


  {
    builds.map((build) => (
      <div class=" text-center outline outline-third outline-2 my-10  text-xl py-8 px-10">
		<div class="text-3xl">{build.frontmatter.title}</div>
        <p class="mt-4 mb-8">{build.frontmatter.excerpt}</p>
		<a
          href={`/${build.frontmatter.slug}`}
          class="text-second bg-third px-10 py-4 text-2xl hover:bg-second hover:text-third border-2 border-third "
        >
          Read More
        </a>
		</div>
    ))
  }
</Layout>
