<script src="https://kit.fontawesome.com/4d676f186b.js" crossorigin="anonymous"></script>
<div class="text-center mt-4 text-3xl">
  <a href="https://twitter.com/theanuragdev" class="mx-2 ">
    <i class="fa-brands fa-twitter"></i>
  </a>
  <a href="mailto:anuragsharma011011@gmail.com" class="mx-2 "
    ><i class="fa fa-envelope" aria-hidden="true"></i>
  </a><a href="https://github.com/Anurag30112003" class="mx-2 "
    ><i class="fa-brands fa-github"></i>
  </a>
  <a href="https://twitter.com/theanuragdev" style="text-none">
    <div class="text-lg mt-2">
      Made with <i class="fa-solid fa-heart" style="color: rgb(253, 91, 245);"
      ></i> by <span class="underline	decoration-third decoration-4	"> Anurag</span>
    </div>
  </a>
</div>